{% extends 'base.html.twig' %}

{% block title %}
	DLR Portal
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>behoerde Edit</h1>
  {{ include('admin/behoerde/_form.html.twig', { button: 'Ändern'})  }}
</div>

{% endblock %}